.container {
  width: 90%
}

.search_input {
  width: 200px;
  height: 50px;
  /* aspect-ratio: (35 / 9); */
  font-size: 16px;
  padding-left: 10px;
  border-radius: 10px;
  background-color: rgb(241, 241, 241);
  border: 1px solid white;
}

.search_container {
  text-align: center;
  padding: 1rem 0 
}

.weather_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-top: 3rem;
}

@media (min-width: 768px) {
  .weather_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 3rem;
    
  }
}

@media (min-width: 900px) {
  .weather_section {
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 3rem;
  }
}